    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <main>
        
        <!-- Sección para el banner -->
        <div class="top-banner">
            <img src="/images/banner-prueba.jpg" alt="Imagen banner">
            <div class="banner-slider">
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <!-- Slider para indicar el orden de imagen que tiene el banner -->
        <div class="banner-image-select">
            <i id="first" class="fa-solid fa-circle"></i>
            <i id="second" class="fa-solid fa-circle"></i>
            <i id="third" class="fa-solid fa-circle"></i>
            <i id="fourth" class="fa-solid fa-circle"></i>
            <i id="fifth" class="fa-solid fa-circle"></i>
        </div>
    
        <div class="main-products">
            <!-- Filtro de producto (convenientemente debería verse solo en tablet o desktop) -->
            <!-- <section class="filter">
                <h4>Aplicar filtros</h4>
                
                <div class="filter-category">
                    <h5>Producto</h5>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="product" value="product1">
                        Producto1
                    </label>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="product" value="product2">
                        Producto2
                    </label>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="product" value="product3">
                        Producto3
                    </label>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="product" value="product4">
                        Producto4
                    </label>
                </div>
    
                <div class="filter-category">
                    <h5>Marca</h5>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="brand" value="brand1">
                        Marca1
                    </label>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="brand" value="brand2">
                        Marca2
                    </label>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="brand" value="brand3">
                        Marca3
                    </label>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="brand" value="brand4">
                        Marca4
                    </label>
                </div>
    
                <div class="filter-category">
                    <h5>Modelo</h5>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="model" value="model1">
                        Modelo1
                    </label>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="model" value="model2">
                        Modelo2
                    </label>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="model" value="model3">
                        Modelo3
                    </label>
                    <label class="checkbox-label">
                        <input class="checkbox" type="checkbox" name="model" value="model4">
                        Modelo4
                    </label>
                </div>
    
            </section> -->
            <section class="home-products">
                <% if (url=="inicio") { %>
                    <section class="category">
                        <h3 class="featured-category">Lo más destacado...</h3>
                        <% for(producto of products){ %>
                            <% if(producto.section.name == "Destacado") { %>
                                <%- include('./partials/product') %>
                            <%}%>
                        <%}%>
                    </section>
        
                    <section class="category">
                        <h3 class="featured-category">Ofertas...</h3>
                        <% for(producto of products){ %>
                            <% if(producto.section.name == "Oferta") { %>
                                <%- include('./partials/product') %>
                            <%}%>
                        <%}%>
                    </section>
        
                    <section class="category">
                        <h3 class="featured-category">Novedades...</h3>
                        <% for(producto of products){ %>
                            <% if(producto.section.name == "Novedades") { %>
                                <%- include('./partials/product') %>
                            <%}%>
                        <%}%>
                    </section>
                <% } else { %>
                    <section class="category">
                        <h3 class="featured-category">Su elección...</h3>
                        <% for(producto of products){ %>
                                <%- include('./partials/product') %>
                        <%}%>
                    </section>
                <% } %>
                
            </section>
        </div>
    
    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>



