<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="wellcome">
                    <h3>Orden Nro: <%= order.id %>
                    </h3>
                </div>
                <section class="cart-page">
                    <div>
                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">
                                            <strong>#</strong>
                                        </th>
                                        <th style="width: 30%;">
                                            <strong>Producto</strong>
                                        </th>
                                        <th style="width: 20%;">
                                            <strong>Precio</strong>
                                        </th>
                                        <th style="width: 30%;">
                                            <strong>Cantidad</strong>
                                        </th>
                                        <th style="width: 5%;">
                                            <strong>Subtotal</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="cartRows">
                                    <% for( let i=0; i < order.dataValues.orderItems.length; i++ ) { %>
                                        <tr>
                                            <th><%= i+1 %></th>
                                            <td><%= order.dataValues.orderItems[i].name %></td>
                                            <td><%= order.dataValues.orderItems[i].price %></td>
                                            <td><%= order.dataValues.orderItems[i].quantity %></td>
                                            <td>$<%= order.dataValues.orderItems[i].price * order.dataValues.orderItems[i].quantity  %></td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="total-cart">
                        <h3>Total: <span class="totalAmount">$ <%= order.total %></span></h3>
                    </div>
                </section>

                <div class="wellcome">
                    <h3>Detalles de la compra</h3>
                </div>
                <section class="cart-page">
                    <div>
                        <div class="finish-buy">
                            <div class="finish-buy-col">
                                <label for="country">Tipo Envio: </label>
                                <label>
                                    <%= order.shippingMethod %>
                                </label>
                            </div>
                            <div class="finish-buy-col">
                                <label for="country">Medio de pago: </label>
                                <label>
                                    <%= order.paymentMethod %>
                                </label>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <%- include('../partials/footer') %>
    </body>

    </html>