<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styleUserProfile.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9d932f94a5.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
          <form action="" class="formulario">
                    <div>
                        <img src="/images/avatars/<%= locals.userLogged.image %>" alt="" class="imageProfile">
                   </div>
                    <div class="cage-Formulario">
                             <i id="fingerprint" class="fa-sharp fa-solid fa-fingerprint"></i><h3 class="name-user"><%= locals.userLogged.first_name %>  <%= locals.userLogged.last_name %></h3>
                    </div>  
                    <div class="cage-Formulario">
                             <i id="logo-email" class="fa-solid fa-envelope"></i><h3 class="name-user"><%= locals.userLogged.email %></h3>
                    </div>
                    <div class="cage-Formulario">
                             <i id="logo-calendar" class="fa-solid fa-calendar-days"></i><h3 class="name-user"><%= locals.userLogged.date_birth %></h3>
                    </div> 
                    <div class="cage-Formulario">
                             <i id="logo-dni" class="fa-solid fa-id-card"></i><h3 class="name-user"><%= locals.userLogged.dni %></h3>
                    </div>   
            </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>