<%- include('../partials/head') %>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9d932f94a5.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('../partials/header') %>
    <main>

          <section class="profile">
                    <div class="profile-image">
                        <img src="/images/avatars/<%= locals.userLogged.image %>" alt="" class="image-profile">
                   </div>

                   <div class="main-user-data">

                        <div class="profile-data">
                                <i class="fa-sharp fa-solid fa-fingerprint"></i><h3><%= locals.userLogged.first_name %>  <%= locals.userLogged.last_name %></h3>
                        </div>  
                        <div class="profile-data">
                                <i class="fa-solid fa-envelope"></i><h3><%= locals.userLogged.email %></h3>
                        </div>
                        <div class="profile-data">
                                <i class="fa-solid fa-calendar-days"></i><h3><%= locals.userLogged.date_birth %></h3>
                        </div> 
                        <div class="profile-data">
                                <i class="fa-solid fa-id-card"></i><h3><%= locals.userLogged.dni %></h3>
                        </div>
                         
                    </div> 
          </section>

          <section class="user-content">
            <div class="user-products">
                <p> Aquí vendrán las secciones de los productos del usuario </p>
            </div>
          </section>
          
    </main>
    <%- include('../partials/footer') %>
</body>
</html>