<%- include('../partials/head') %>
    
<body>
    <%- include('../partials/header') %>
    <main>

    <form class="product-form" action="/products/create" method="POST" enctype="multipart/form-data">
        <div class="wellcome">
            <h3> Formulario de creación:</h3>
        </div>

       <div class="main-fields">

     
            <div class="form-control">
                <b><label class="input-title" for="name">Nombre del producto:</label></b><br>
                <input type="text" name="name" id="name" class="control">
                <p class="form-error"><%= locals.errors?.name ? errors.name.msg : "" %></p>
                <p class="name-form-error error-fe"></p>
            </div>

            <div class="form-control">
                <b><label class="input-title" for="section" >Sección:</label></b><br>
                <select name="section" id="section" class="control">
                    <% for (let section of sections) { %>
                        <option value="<%=section.id%>"><%= section.name %></option>
                        
                    <% } %>
                    
                </select>
                <p class="form-error"><%= locals.errors?.section ? errors.section.msg : "" %></p>
                <p class="section-form-error error-fe"></p>
            </div>

            <div class="form-control">
                <b><labe class="input-title" for="price">Precio:</label></b><br>
                <input type="number" name="price" id="price" class="control">
                <p class="form-error"><%= locals.errors?.price ? errors.price.msg : "" %></p>
                <p class="price-form-error error-fe"></p>
            </div>
            
            <div class="form-control">
                <b><label class="input-title" for="discount" >Descuento:</label></b><br>
                <input type="number" name="discount" id="discount" class="control">
                <p class="form-error"><%= locals.errors?.discount ? errors.discount.msg : "" %></p>
                <p class="discount-form-error error-fe"></p>
            </div>
            
            <div class="form-control">
                <b><label class="input-title" for="category" >Categoría:</label></b><br>
                <select name="category" id="category" class="control">
                    <% for (let category of categories) { %>
                        <option value="<%=category.id%>"><%= category.name %></option>
                        
                    <% } %>
                </select>
                <p class="form-error"><%= locals.errors?.category ? errors.category.msg : "" %></p>
                <p class="category-form-error error-fe"></p>
            </div>

            <div class="form-control">
                <b><label class="input-title" for="brand" >Marca:</label></b><br>
                <select name="brand" id="brand" class="control">
                    <% for (let brand of brands) { %>
                        <option value="<%=brand.id%>"><%= brand.name %></option>
                        
                    <% } %>
                </select>
                <p class="form-error"><%= locals.errors?.brand ? errors.brand.msg : "" %></p>
                <p class="brand-form-error error-fe"></p>
            </div>
            
            <div class="form-control">
                <b><label class="input-title" for="image">Imagen:</label></b><br>
                <input type="file" name="imageProduct" id="image" accept=".jpg, .jpeg, .png" class="control">
                <p class="form-error"><%= locals.errors?.image ? errors.image.msg : "" %></p>
                <p class="image-form-error error-fe"></p>
            </div>

            <!-- <div class="form-control">
                <b><label class="input-title" for="images">Imagenes Secundarias:</label></b><br>
                <input type="file" name="imagesMini" id="images" accept=".jpg" class="control" multiple>
            </div> -->

        </div>

        <div class="form-control">
            <b><label class="input-title" for="description">Descripción:</label></b><br>
            <textarea name="description" id="description" class="textarea"></textarea>
            <p class="form-error"><%= locals.errors?.description ? errors.description.msg : "" %></p>
            <p class="description-form-error error-fe"></p>
        </div>

        <div class="form-control">
            <b><label class="input-title" for="features">Características:</label></b><br>
            <textarea name="features" id="features" class="textarea"></textarea>
            <p class="form-error"><%= locals.errors?.features ? errors.features.msg : "" %></p>
            <p class="features-form-error error-fe"></p>
        </div>

        <div class="create-product">
             <button id="button" type="submit" class="form-button">Guardar producto</button>
             <p class="button-form-error error-fe"></p>
        </div>
        
    </form>
</main>
    
    <%- include('../partials/footer') %>
    <script src="/js/productValidator.js"></script>
</body>
</html>