<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styleCreacionYedicion.css">
</head>
<body>
    <%- include('../partials/header') %>

    <main>
    <form action="/products/edit/<%= productToEdit.id %>?_method=PUT" method="POST" class="formularioEdicion" enctype="multipart/form-data">
        <div class="nombreFormulario">
            <h3 class="FormularioCreacion"> Formulario de edición:</h3>
        </div>

       <div class="campoPrincipal">

            <div class="campoEditable">
                <b><label for="name">Nombre del producto:</label></b><br>
                <input type="text" name="name" id="name" value="<%= productToEdit.name %>">
            </div>

            <div class="campoEditable">
                <b><label for="section" >Sección:</label></b><br>
                <select name="section" id="section">
                    <option value="celular" <%= productToEdit.section == "celular" ? "selected":"" %>>Celular</option>
                    <option value="television" <%= productToEdit.section == "television" ? "selected":"" %>>Televisión</option>
                    <option value="computacion" <%= productToEdit.section == "computacion" ? "selected":"" %>>Computación</option>
                    <option value="otro" <%= productToEdit.section == "otro" ? "selected":"" %>>Otros</option>
                </select>
            </div>

            <div class="campoEditable">
                <b><label for="price">Precio:</label></b><br>
                <input type="number" name="price" id="price" value="<%= productToEdit.price %>">
            </div>

            <div class="campoEditable">
                <b><label for="discount" >Descuento:</label></b><br>
                <input type="number" name="discount" id="discount" value="<%= productToEdit.discount %>">
            </div>

            <div class="campoEditable">
                <b><label for="category" >Categoría:</label></b><br>
                <select name="category" id="category">
                    <option value="" <%= productToEdit.category == "" ? "selected":"" %>></option>
                    <option value="in-sale" <%= productToEdit.category == "in-sale" ? "selected":"" %>>Oferta</option>
                    <option value="novedades" <%= productToEdit.category == "novedades" ? "selected":"" %>>Novedades</option>
                    <option value="lo más destacado" <%= productToEdit.category == "lo más destacado" ? "selected":"" %>>Destacado</option>
                </select>
            </div>

            <div class="campoEditable">
                <b><label for="brand" >Marca:</label></b><br>
                <input type="text" name="brand" id="brand" value="<%= productToEdit.brand %>">
            </div>

            <div class="campoEditable">
                <b><label for="image">Imagen:</label></b><br>
                <input type="file" name="imageProduct" id="image" accept=".jpg">
            </div>

        </div>

        <div class="campoEditable">
            <b><label for="description">Descripción:</label></b><br>
            <textarea name="description" id="description"><%= productToEdit.description %></textarea>
        </div>

        <div class="campoEditable">
            <b><label for="features">Características:</label></b><br>
            <textarea name="features" id="features"><%= productToEdit.features %></textarea>
        </div>

        <div class="guardarProducto">
             <button id="button" type="submit">Guardar producto</button>
        </div>

    </form>
</main>
    
    <%- include('../partials/footer') %>
</body>
</html>