<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylesProductDetail.css">
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <section>
            <article class="producto-principal">
                <div class="foto-principal">
                    <img src="/images/<%= productFilter.image %>" alt="imagen-principal">
                </div>
                <div class="descripcion">
                    <h3><%= productFilter.name  %></h3>
                    <h3 class="precio">$<%= productFilter.price  %></h3>
                    <div class="cantidad">
                        <p>Cantidad</p>
                        <input type="text">
                        <div>
                            <!-- <button type="button"><i class="fas fa-plus-circle"></i></button>
                            <button type="button"><i class="fas fa-minus-circle"></i></button> -->
                            <i class="fas fa-plus-circle"></i>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                    </div>
                    <div class="agregar">
                        <p>Agregar al carrito</p>
                        <!-- <button type="button"><i class="fas fa-cart-plus"></i></button> -->
                        <i class="fas fa-cart-plus"></i>
                    </div>
                    <button>Comprar</button>
                    <div class="user-button">
                        <button><a href="/products/edit/<%= productFilter.id %>">EDITAR PRODUCTO</a></button>
                        <button>Eliminar</button>
                    </div>
                </div>
            </article>
            <div class="fotos-secundarias">
                <% for (let i=0; i<5 ; i++ ) { %>
                    <img src="/images/<%= productFilter.image  %>" alt="imagen-sec-1">
                <% } %>
            </div>
            <section class="contenedor-info-otros">
                <section class="info">
                    <div>
                        <h4>Detalles del producto</h4>
                        <p><%= productFilter.description  %></p>
                    </div>
                    <div>
                        <h4>Caracteristicas</h4>
                        <p><%= productFilter.features  %></p>
                    </div>
                </section>
                <section class="otros">
                    <h4>Productos del mismo vendedor</h4>
                    <div class="otros-articulos">
                        <% for( let index = 0; index < 2; index++ ) { %>
                            <%- include('../partials/product') %>
                        <% } %>
                    </div>
                    <h4>Podría interesarte</h4>
                    <div class="otros-articulos">
                        <% for( let index = 0; index < 2; index++ ) { %>
                            <%- include('../partials/product') %>
                        <% } %>
                    </div>
                    <h4>Productos relacionados</h4>
                    <div class="otros-articulos">
                        <% for( let index = 0; index < 2; index++ ) { %>
                            <%- include('../partials/product') %>
                        <% } %>
                    </div>
                </section>
            </section>
            
        </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>